{% extends 'base.html.twig' %}

{% block body %}

    <div class="count">
        Total pages:
        {{ pagination.getTotalItemCount }}
    </div>

    Search:
    <br /><br />
    <form action="" method="GET" novalidate>
        {{ form_widget(form) }}
    {{ form_end(form) }}
    <br />
    <a href="member/create">New Member</a>
    <br /><br />
    List of members:
    <br /><br />
    {% for member in pagination %}
        {{ member.firstName }}
        {{ member.lastName }}
        {{ member.email }}
        <a href="member/{{ member.id }}/edit">edit</a>
        <a href="member/{{ member.id }}/delete">delete</a>
        <br />
    {% endfor %}
    <br />
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}